<!--<style>

    .product {
        width: 1200px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden
    }

    .product .title-img {
        width: 1200px;
        margin: 35px 0 20px 0
    }

    .product .product-ul {
        margin-right: -20px
    }

    .product .product-ul .product-list {
        width: 224px;
        position: relative;
        margin: 0 20px 20px 0
    }

    .product .product-ul .product-list .product-info {
        width: 224px;
        margin-top: 5px;
        height: 30px;
        line-height: 30px
    }

    .product .product-ul .product-list .product-info .price {
        font-size: 16px;
        color: #ff3366
    }

    .product .product-ul .product-list .product-info .fav .fav-i {
        width: 13px;
        height: 12px;
        display: inline-block;
        *zoom: 1;
        *display: inline;
        background: url("http://s17.mogucdn.com/p1/160719/idid_ie4wimrxmqzwcodehezdambqgqyde_300x500.png") 0 -304px
    }

    .product .product-ul .product-list .product-info .fav .fav-n {
        color: #999;
        line-height: 14px;
        margin-left: 3px
    }

    .product .product-ul .product-list .img-size {
        position: relative;
        width: 224px;
        overflow: hidden;
        background: url('http://s17.mogucdn.com/p1/160815/idid_ifrggzbwg4ytenjwmezdambqmeyde_102x58.png') no-repeat center center
    }

    .product .product-ul .product-list .img-size a {
        display: block;
        padding-top: 336px
    }

    .product .product-ul .product-list .text-link {
        color: #666;
        display: block;
        height: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }

    .product .product-ul .product-list .text-link:hover {
        color: #f69
    }

    .product .product-ul .product-list .product-logo {
        display: block;
        width: 40px;
        height: 54px;
        position: absolute;
        top: 0;
        left: 6px;
        z-index: 2
    }

    .product .product-ul .product-list .product-logo img {
        width: 100%
    }
</style>-->

<div class="product">

    <ul class="clearfix product-ul" id="product-ul">
        <li class="product-list fl" ng-repeat="(key,item) in items.list">
            <div class="img-size"><a class="img-link" target="_blank"
                                     href="{{item.item_url}}"
                                     style="background:url({{item.item_pc_img}}) no-repeat center center;background-size:cover;"></a>
            </div>
            <div class="product-info clearfix">
                <div class="price fl"><em class="price-u">￥</em><span class="price-n" ng-bind="item.discountPrice">80.10</span></div>
            </div>
            <a class="text-link" target="_blank"
               href="shopdetail.html#?1gl82bc?acm=2.ms.2_4.0.12380.yUhpUbBxJQ1.t_0" ng-bind="item.title"> 1313专属定制 经典款显瘦大V领超薄针织衫T恤
                85719</a></li>
    </ul>
</div>