<div class="header">
    <style>
        html,body,div,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd,p,blockquote,pre,form,fieldset,table,th,td,map {
            margin: 0;
            padding: 0
        }

        * html,* html body {
            background-image: url(about:blank);
            background-attachment: fixed
        }

        ul,ol,dl,li {
            list-style: none
        }

        pre {
            white-space: pre-wrap;
            word-wrap: break-word
        }

        h3 {
            _zoom: 1
        }

        input,textarea {
            resize: none;
            outline: none;
            font-family: Arial;
            word-wrap: break-word
        }

        fieldset,img {
            border: 0
        }

        legend {
            display: none
        }

        a {
            color: #666;
            text-decoration: none
        }

        a:hover {
            color: #f36!important;
        }

        a:focus {
            outline: none
        }

        em {
            font-style: normal
        }

        html {
            _overflow-x: hidden
        }

        body {
            background-color: #fefefe;
            color: #666;
            font-size: 12px;
            font-family: Arial,'Microsoft YaHei'
        }
    </style>

    <div class="head">
        <div id="com-topbar">
            <div class="inner">
                <ul>
                    <li class="drop">
                        <a href="setPersonal.html" class="nick" target="_blank">
                            <img class="face" src="new1/v1/bdefaultavatar/03.jpg" />阿猫来了
                            <em class="arrow"></em></a>
                        <ul class="down account">
                            <li>
                                <a href="setPersonal.html" target="_blank">账号与安全</a></li>
                            <li>
                                <a href="#">退出</a></li>
                        </ul>
                    </li>
                    <li class="drop">
                        <a href="mylike.html" target="_blank">
                            <em class="collect"></em>我的收藏</a>
                        <ul class="down">
                            <li>
                                <a href="mylike.html" target="_blank">收藏宝贝</a></li>
                            <li>
                                <a href="mylikestore.html" target="_blank">收藏店铺</a></li>
                        </ul>
                    </li>
                    <li class="drop cart-wrapper">
                        <a target="_blank" href="mycart.html" class="my-cart">
                            <em class="cart"></em>我的购物车</a>
                        <div class="hidden">
                            <ul class="cart-goods"></ul>
                            <p class="cart-account">
                        <span>购物车里还有
                          <a class="num" href="mycart.html" target="_blank"></a>件商品</span>
                                <a class="check-cart" href="mycart.html" target="_blank">查看购物车</a></p>
                        </div>
                    </li>
                    <li>
                        <a href="orderlist.html" target="_blank">
                            <em class="order"></em>我的订单</a>
                    </li>
                    <li class="drop">
                        <a target="_blank">帮助中心
                            <em class="arrow"></em></a>
                        <ul class="down">
                            <li>
                                <a href="buyerService.html" target="_blank">买家服务</a></li>
                            <li>
                                <a href="#/help#/index" target="_blank">商家服务</a></li>
                            <li>
                                <a href="ruleCenter.html" target="_blank">规则中心</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" target="_blank" class="last">商家后台</a></li>
                </ul>
            </div>
        </div>
        <div id="com-search">
            <div class="inner">
                <a href="index.html" class="logo">
                    <img style="width: 204px" src="https://s10.mogucdn.com/mlcdn/c45406/170608_4abia54942c229cgg69f073b9g23d_408x104.png" alt=""></a>
                <a href="" class="sublogo"></a>
                <div class="search">
                    <div class="search-tab">
                        <span class="active">宝贝</span>
                        <span>店铺</span></div>
                    <div class="search-box">
                        <input type="text" class="search-txt">
                        <span class="search-btn"></span>
                        <div class="suggest-box"></div>
                    </div>
                    <div class="hotword"></div>
                </div>
                <a class="spread" href="" target="_blank">
                    <img style="width: 210px " src="http://s6.mogucdn.com/p2/160804/1rp_49cgihk50031c69jjk51ilkjk4950_210x157.gif" /></a>
            </div>
        </div>
        <div class="nav_main_box">
            <ul class="nav_main">
                <!--<li class="all">全部商品-->
                <!--</li>-->
                <li class="nav_tab">
                    <a href="index.html">首页</a></li>
                <li class="nav_tab">
                    <a href="brandstreet.html?mt=12.12557.r121665.15640&acm=1.mce.2.12557.0.0.15640_121665">上衣</a></li>
                <li class="nav_tab">
                    <a href="daimaiPCrukou.html?mt=12.12557.r121666.15640&acm=1.mce.2.12557.0.0.15640_121666">裙子</a></li>
                <li class="nav_tab">
                    <a href="selectindex.html?mt=12.12557.r121667.15640&acm=1.mce.2.12557.0.0.15640_121667">裤子</a></li>
                <li><a href="">女鞋</a></li>
                <li><a href="">包包</a></li>
                <li><a href="">配饰</a></li>
                <li><a href="">美妆</a></li>
                <li><a href="">男友</a></li>
                <li><a href="">童装</a></li>
                <li><a href="">家具</a></li>
            </ul>
        </div>
    </div>
</div>